<html>
   <body>
      
      <form action = "/insert" method = "POST">
         <h3>Input Item into Inventory</h3>
         Name<br>
         <input type = "text" name = "name" /></br>

         Quantity<br>
         <input type = "number" name = "quantity" /><br>

         <input type = "submit" value = "submit" /><br>
      </form>

      <!-- <a href = "/list">See all items</a> -->

      <a href = "/update">Update Delete or View items</a>
      <br>
      <br>
      <a href = "/deletelist">See deleted items</a>
   </body>
</html>